<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>

		<target xsi:type="File"
          name="logfile"
          fileName="E:/Omar/Anazeem/on Bording Plan/Projects/logfile.log"
          archiveFileName="E:/Omar/Anazeem/on Bording Plan/Projects/archive/log.{#}.log"
          archiveEvery="Day"
          archiveNumbering="Rolling"
          maxArchiveFiles="7"
          keepFileOpen="false">
			<layout xsi:type="JsonLayout" includeAllProperties="true" renderEmptyObject="false" />
		</target>

		<target xsi:type="EventLog" name="AssetsAPILogTarget"
				source="Assets-Log" log="AssetsAPILogTarget"
				layout="Date: ${date}&#13;&#10;Source: ${callsite}&#13;&#10;Message: ${message}&#13;&#10;Error: ${exception:format=ToString}" />

		

		<target xsi:type="Database" name="database"
				dbProvider="System.Data.SqlClient"
				connectionString="Data Source=OMAR\SQLEXPRESS;Initial Catalog=AssetsSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
				commandText="INSERT INTO dbo.SystemLogs (TimeStamp, Level, Message, Logger, Exception) VALUES (@time_stamp, @level, @message, @logger, @exception)">
			<parameter name="@time_stamp" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
		</target>

		<target xsi:type="Console" name="console" />
	</targets>

	<rules>
		<!--<logger name="AssetsAPILogTarget" writeTo="AssetsAPILogTarget" />-->
		<logger name="*" minlevel="Error" writeTo="console,logfile,database,AssetsAPILogTarget" />
	</rules>

</nlog>
